---

---

<h1>Validation Report</h1>

<h2><a href="{{ page.rdf }}">{{ page.rdf }}</a></h2>

{% assign query = "SELECT ?str {
  ?s ?p ?o

  BIND(IF(isIRI(?o), 'uri', IF(isBlank(?o), 'blank', 'literal')) AS ?termTypeVal)
  BIND(lang(?o) AS ?ol)
  BIND(datatype(?o) AS ?od)

  BIND(IF(bound(?od), ?od, '') AS ?dtVal)
  BIND(IF(bound(?ol), ?ol, '') AS ?langVal)
  BIND(CONCAT(str(?p), '++', str(?o), '####') AS ?str)
}" %}
{% assign resultset = report | sparql_query: query %}


{% capture string_result %}
{% for result in resultset %}

{% assign split_result = result.str | remove: 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type' 
                                    | remove: 'http://www.w3.org/ns/shacl#ValidationReport' 
                                    | remove: 'http://www.w3.org/ns/shacl#ValidationResult' 
                                    | remove: 'http://www.w3.org/ns/shacl#'
                                    | split:'++' %}

{% if split_result[0] contains 'http' %}
<a href="{{ split_result[0] }}"><b>{{ split_result[0] }}</b></a> 
{% else %}
<b>{{ split_result[0] }}</b> 
{% endif %}

{% assign white_split = split_result[1] | split:' ' %}
{% if white_split[0] contains 'http' %}
<a href="{{ split_result[1] }}">{{ split_result[1] }}</a>
{% else %}
{{ split_result[1] }}
{% endif %}

{% endfor %}
{% endcapture %}

<ol>
{% assign result_string =  string_result  | replace: "<b></b> 




####", "<br><li><b><big>Result</big></b></li><br>" 
                                          | replace: '####', '<br>' 
                                          | remove_first: "<li><b><big>Result</big></b></li>" %}
{{ result_string }}
</ol>